/* animations.css */
.text, .logo {
  /* position: absolute; */
  width: 100%;
  text-align: center;
  transition: opacity 2s ease;
}

.logo {
  /* opacity: 0; */
}

.container:hover .text {
  /* opacity: 0; */
}

.container:hover .logo {
  /* opacity: 1; */
}