/* main.css */
/* contact-styles */
@import url('contact-styles.css');

/* animations/ */
@import url('visuals/animations.css');
@import url('visuals/carousel.css');
@import url('videos.css');
@import url('responsive.css');
/* utilities */
@import url('utilities/borders.css');
@import url('utilities/backgrounds.css');
@import url('utilities/colors.css');
@import url('utilities/effects.css');
@import url('utilities/layout.css');
@import url('utilities/position.css');
@import url('utilities/sizing.css');
@import url('utilities/spacing.css');
@import url('utilities/text.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
