@media screen and (max-width:920px) {
    .page-wrapper.expand .mobile-header-nav ul li:nth-child(2) ul {
        margin-left: -20%;
    }
    .page-wrapper.expand .mobile-header-nav ul li:nth-child(3) ul {
        margin-left: 20%

    }
}
@media screen and (min-width:520px) {

    .page-container.home-page-container {
        padding-top: 0% !important;

    }
    .home-page-container > .home-page-header.bg-slider > .bg-slide{
        background-position-y: 10% !important;
    }
        .home-page-header {
            background-position-y: -129% !important;
            /* border: 1px solid magenta; */
            height: 50vh !important;
        }
}
@media screen and(max-width:519px) {
    .page-container.med-spa-serv-container{
        /* padding-top: 50% !important; */
        margin-top: 50% !important;
    }
    #addressLinkHeader{
        width: 103vw !important;
    }
    #addressLinkHeader > a{
        width: 100% !important;
    }
    .page-title-container>h1 {
        /* margin: 0 25%; */
        /* margin-top: 10% !important; */
        width: 100% !important;

        border: 1px solid blue !important;
        background-color: blue;
    }
    
}