/* responsive.css */
@media screen and (min-width:720px) {
    section > .section-logo-wrapper{
        height: 220px;
        width: 220px;
        max-width: 220px !important;
        max-height: 220px !important;
    }
}