/* txt-med-spa-serv.css */
.med-spa-serv-container .more-info-links {
    /* display: flex; */
    font-size: 2rem;
}
.med-spa-serv-container .section p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}



.med-spa-serv-container .more-info-links button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.med-spa-serv-container .content>p {
     font-family: Arial, Helvetica, sans-serif;
     /* color: whitesmoke !important; */

     /* text-shadow: 1px 1px 1px black; */
 }
.section button.section-title{
    color: var(----font-p-clr);
    font-size: 1rem !important;
    font-family: Arial, Helvetica, sans-serif;
    background-color: inherit;
    border: none;
    letter-spacing: 20%;
    font-size: 1rem;

    text-decoration: none;
 }
 .med-spa-serv-container .content-box > h3{
    color: var(--font-p-clr);
    text-shadow: 1px 1px 1px whitesmoke;
 }
 .section>.content {
     font-size: .8rem;
    }