/* toggle-nav.css */
.page-wrapper.expand >.page-header .img-wrapper {
    position: absolute;
    right: 0%;
    z-index: 99 !important;
}

.page-wrapper.expand > .mobile-header-nav{
    height: 60vh !important;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: var(--bg-clr);
    border-bottom: 1px solid black;
    border-radius: 5px;
    transition: all 800ms;
}

.page-wrapper.expand>.mobile-header-nav > ul > li{
    padding-top: 7%;
    padding-left: 2%;
    transition: all 250ms;
    
}
.page-wrapper.expand>.mobile-header-nav > ul > li,
.mobile-header-nav > ul > li > u{
    
}
