/* toggle-nav.css */
.page-wrapper.expand .mobile-header-nav .start-hidden {
    display: inherit            
}
.page-wrapper.expand>.mobile-header-nav {
    border-top: 0;
    padding-top: 5%;
    border-bottom: 1px solid whitesmoke;
    box-shadow: 0 2px 0 2px grey;
    height: 60vh;
    position: fixed;
    z-index: 1;
    z-index: 11;
    transform: translateY(0) scaleX(1);
    opacity: 1;
    top: 4%;
    bottom: auto;
    transition: all 400ms;
}

.page-wrapper.expand .mobile-header-nav ul{
    display: flex;
    flex-wrap: wrap;
}
.page-wrapper.expand .mobile-header-nav ul>li>ul {
    padding-top: 8%;
}

.page-wrapper.expand .mobile-header-nav ul>li {
    
    animation: slideInX 100ms forwards;
}


/* Animate AFTER parent */
.page-wrapper.expand .mobile-header-nav ul li ul li {
    animation: dropIn 150ms forwards;
}

/* stagger them vertically */
.page-wrapper.expand .mobile-header-nav ul li ul li:nth-child(1) {
    animation-delay: 120ms;
}

.page-wrapper.expand .mobile-header-nav ul li ul li:nth-child(2) {
    animation-delay: 180ms;
}

.page-wrapper.expand .mobile-header-nav ul li ul li:nth-child(3) {
    animation-delay: 240ms;
}

.page-wrapper.expand .mobile-header-nav ul li ul li:nth-child(4) {
    animation-delay: 300ms;
}
.page-wrapper.expand .mobile-header-nav ul li ul li:nth-child(5) {
    animation-delay: 360ms;
}

.page-wrapper>.mobile-header-nav > ul > li > ul > li > a{
    display: none;
}
.page-wrapper.expand>.mobile-header-nav > ul > li > ul > li > a {
    display: flex !important;
}
@keyframes slideInX {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes dropIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}