/* bkgrnd-home.css */

footer {
    background-image: url('../../../imgs/chatImgCollage.png');
    height: 10vh;
    background-repeat: no-repeat;
    background-position-y: 10%;
    background-position-x: 0%;
    filter: grayscale(50%);
}
.address-contact-home{
    background-image: url('../../../imgs/s-view.png');
    border-radius: 8px;
    height: 20vh;
    width: 90;
    background-size: 50%;
    background-position-y: 100%;
    background-position-x: 60%;
    background-repeat: no-repeat;
}

