/* borders-home.css */
.home-page-header>.contact-content>.img-wrapper>img {
    border-radius: 6px;
}
.home-page-header button.section-title{
    border: none;
}
.mission-state> .img-wrapper img {
    border-radius: 60px;
    margin-right: 3%;
}
#drMadonnaPhoto {
    /* display: block; */
    border-radius: 32px;
}
.home-page-container .section {
    border: 1px solid grey;
    border-radius: 4px;
}
.reviews-container>p {
    /* border: 1px dashed black; */
}
.service-col-title {
    border: none;
}
.home-page-container button.section-title,
[data-nav-target="more-info-link"]{
    border: none;
}
