/* colors-home.css */
.home-page-container button.section-title {
    color: var(----font-p-clr);
}
.home-page-header > p{
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.4rem;
    text-shadow: hoff voff blur #000;
    text-shadow: 1px 1pxblur #000;
}
#botoxFillerServiceHome{
    /* color: white; */

}
.service-title:visited, 
.service-title {
    color: black !important;
}
.service-col-title{
    background: none !important;
    border: none;
    color: inherit;
}