/* sizing-home.css*/
.address-num-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
 }
.mission-state > .home-page-header{

}
.mission-state>.animation-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}