/* sizing-home.css*/
.address-num-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.mission-state>.animation-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.home-page-header {
    display: flex;
    flex-direction: column;
}