/* layout-home.css*/
.page-container.home-page-container {
    /* width: 80% !important; */
}
.home-page-header {
    display: flex;
    /* justify-content: space-around; */
}
.home-page-header .img-wrapper {
    flex-basis: 10%;
}
.home-page-header button.section-title{
    display: block;

}

.reviews-container {
    /* font-size: ; */
    display: flex;
    flex-direction: column;
}
.reviews-container > .review-swiper-container{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}


.page-container.home-page-container {
    display: flex;
    flex-direction: column;
}



.home-page-header .contact-content {
    padding-top: 5%;
    flex-basis: 30%;
}
.address-num-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mission-state img{
    float: left;
}
.home-page-item .img-wrapper{
    float: right;

}