/* NEW-home.css */
.home-page-header img {
    border-radius: 8px;
    /* height: 10vh; */
}

.home-page-header section p {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

}
.address-num-container p {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
 }
.section-title:active,.section-title:focus{
    border: 10px solid red;
    display: block;
 }

 .swiper {
     width: 100%;
     max-width: 50vw;
    }
    
.review-swiper-container{
    border: 3px solid blue;
}