/* positin-home.css */
.home-page-container{
}
.mission-state > .home-page-header{
    float: left;
}
.home-page-container .animation-container::after,
.mission-state>.home-page-header::after{
    content: "";
    display: block;
    clear: both;
}
.home-page-container .animation-container {
    width: 45%;
    /* position:fixed; */
    float: right ;
    top: 50%;
    /* top: 0; */
    right: 0;
   
}
