.home-page-container .animation-container::after
.home-page-header::after{
    content: "";
    display: block;
    clear: both;
}
.home-page-header{
    float: left;
}

.home-page-container .animation-container {
    /* position: absolute; */
    float: right;
    /* right: 50%; */
    /* top: 0; */
    border: 1px solid black;
    width: 50%;
    z-index: 101;
}