/* responsivce-home.css */

@media screen and (min-width:533px) {
    
    .address-contact-home{
        margin-top: 5%;
    }
    
    
}
@media screen and (max-width:532px) {
    .home-page-container .main-item 
    .home-page-container .main-item >p {
        display: inline;
        font-size: 110%;
        line-height: 1.2 !important;
    }
    .swiper.reviews-swiper {
        height: 15vh;        
    }
    .home-page-header {
        /* padding-top:25% !important; */
    }
    #officeInPhotoA{
        display: inline-flex
    }
    #officeInPhoto {
        max-width: 300px !important;
        max-height: 400px;   
        margin-left: 5%;
    }
}
@media screen and (max-width:431px) {
    #longevityMedHomePage>.title-text {
        margin-top: 2% !important;
    }
    .reviews-swiper .swiper-slide{
        font-size: .9rem;
    }
    .intro-text {
        font-size: 90%;
        padding-top: 1%;
        line-height: 1.2 !important;
    }
    
}