/* sizing-home.css*/
.home-page-header>.contact-content>.img-wrapper>img {
    width: 110%;
    height: 10vh;
}
.mission-state>img {
    height: 20vh;
}
.mission-state > p {
    padding-top: 2%;
}
.home-page-item .content>.img-wrapper {
    height: fit-content;
    width: fit-content;
}
.home-page-item .content>.img-wrapper > img{
    height: 14vh;
}