/* sizing-home.css*/
.page-container.home-page-container {
    width: 100%;
}
section img {
    /* max-height: 160px; */
    max-width:  100px;
}
#iconShilouette{
    max-width: 150px;
}
.reviews-container{
    /* font-size: ; */
    
}