/* spacing-home.css */
.home-page-container{
    margin: 0 10%;
}
.address-num-container {
    /* margin-top: 1%; */
}
 .home-page-header {
     padding-top: 0%;
 }
.mission-state{
    line-height: 1.75;
    /* padding: 2rem; */
}
