/* spacing-home.css */
.home-page-container{
    /* margin: 0 5%; */
    margin-top: 10%;
}
.main-item {
    margin-bottom: 2%;
}

.address-num-container .address-box{
    padding: 2%
}
.mission-state{
}
.mission-state>img {
    margin-right: 3%;
 }
 .address-num-container {
    padding: 0 5%;
    padding-bottom: 10%;

 }
 .mission-state {
     padding-right: 15%;
 }

.mission-state>p {
    padding-top: 10%;
    padding-left: 3%;    
}