/* txt-home.css*/
.home-page-container article p,
.home-page-container section p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.8;
}

.address-num-container>p {
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1.35rem;
}