/* layout-contact.css */

.form-contact-container {
}
.social-media-email-container .social-media-container {
    display: flex;
    flex-direction: row;
    /* SIDE BY SIDE */
    gap: 20px;
    /* spacing between icons */
}

/* each item takes equal space */
.social-media-email-container .social-media-item-lg {
    flex: 1;
    display: flex;
}

/* make anchor fill full box */
.social-media-email-container .social-media-item-lg a {
    display: flex;
    /* control icon box size here */
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* SVG fills anchor */
.social-media-email-container .social-media-item-lg svg {
    /* optional cap so it doesn't explode */
    display: block;
}



.contact-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 4% 1%;
    border: 1px solid black;
    flex-basis: 20%;
}
.contact-container .address-num-container {
    display: flex;
    align-items: center;
    justify-content: center;
}