/* position-contact.css */

.contact-page-container .animation-container {
    position: absolute;
    /* right: 20%; */
    /* top: 40%; */
    border: 1px solid black;
    /* width: 50%; */
    z-index: 1;
}