.contact-page-container .social-media-link-container {
    flex: 1;
    display: flex;
    position: relative;
}

.contact-page-container .social-media-link-container a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    max-height: var(--social-max-height);
    height: fit-content;
}

.contact-page-container .social-media-link-container svg {
    max-height: var(--social-max-height);
    margin-top: 4%;
    width: 100%;
    height: auto;
    max-width: 100%;
}
