/* colors-products.css */
.cat-title {
   color:black

}
.alpha-list>li >a:visited,
.alpha-list>li >a{
    text-decoration: none;
    color: black;
 }
 
 .item { 
    background-color: white;
 }
 
 .products-title{
   color: black !important;
 }
 
 .products-title:visited{
   color: black !important;
 }