:root {
    --width-prod: 20vw
}
.products-content img {
    max-width:  var(--width-prod);
    max-height: var(--width-prod);
}
.product {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    max-width: var(--width-prod);
}
.product > span {
    display: inline-flex;

}
.products-header {
    display: flex;
    gap: 20%;
}
.products-header > h2 > a {
    display: inline-block;
    width: fit-content;
    height: auto;
}
.products-header > h2 > a img{
    height: 100px;
    height: 100px;
}
.products-content-header ,
.products-content-header > .img-wrapper {
    width: fit-content;
    height: fit-content;
}
.products-content-header > .img-wrapper > img{
    width:  800px !important;
    height: 800px !important;
}
