/* spacing-products.css */

.products-container {
    /* margin-top: 8%; */
}
.items-container {
    margin: 0 5%;
    scroll-padding-left: 40px;
    scroll-padding-right: 40px;
}
.item{
    padding:1%;
}