section#botoxAndFillers {
    background-image: url('../../pages/medical-spa-services/media/botox-filler.webp');
    background-repeat: no-repeat;
    background-position-y: 50%;
    /* background-position-x: 5%; */
    background-position-x: -2%;
}

.info-contact {
    background-image: url('../../imgs/rustic\ rockymoutains-1024.JPEG');
    background-repeat: no-repeat;
    background-position-y: 10%;
    background-position-x: 0%;
    filter: grayscale(50%);
}