/* backgrounds.css */
:root {
    /* --bg-clr: rgb(183, 181, 167); */
    --bg-clr: #ddd;
}

#mdvipImgLink {
    background-color: tomato;
}
body,
.page-wrapper
{
    background-color: var(--bg-clr);
    
}
.page-header{
    /* background-co/lor: rgba(0, 0, 0, 0); */
    /* filtesr: opacity(1); */
}
.page-header h1 {
    background-color: var(--bg-clr);
}
.animation-container            { background-color: rgba(0,0,0,0);}
.animation-container #canvas    { background-color: rgba(0,0,0,0);}

.mobile-header-nav,
.mobile-header-nav > ul,
.mobile-header-nav>ul>li#contactMenuLi
{
    background-color: rgba(0, 0, 0, 0);
    filter: opacity(1);
}
.mobile-header-nav>ul>li,
.mobile-header-nav > ul > li > a{
    /* background-color: rgba(0,0,0,0) !important; */
    /* background-color: blue !important; */
    /* filter: opacity(1); */
    background-color: var(--bg-clr);
    
}
