/* backgrounds.css */
:root {
    /* --bg-clr: rgb(181, 183, 167); */
    --bg-clr: rgb(183, 181, 167);
    --bg-clr: #ddd;
}
.page-wrapper{
    /* background-color: rgba(77, 76, 76, 0.869); */
    background-color: var(--bg-clr);
}
/* section#biote {
    background-image: url('../../imgs/biote-cert.jpeg');
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: 90%;
    background-color: white;
} */
 section,
 article {
    background-color: rgb(0,0,0,0) !important;
}
section > .video-wrapper{
    /* background-color: white; */
}

.animation-container {
    background-color: rgba(0,0,0,0);
}
.animation-container #canvas{
    background-color: rgba(0,0,0,0);
}
.nav-menu {
    background-color: var(--bg-clr);
}
section#botoxAndFillers {
    
    background-image: url('../../imgs/botox-filler.webp');
    background-repeat: no-repeat;
    background-position-y: 10%;
    background-position-x: 0%;
    background-color: white;
}
/* section#botoxAndFil */