/* backgrounds.css */
.mobile-footer-nav{
    border: 1px solid black;
    border-bottom: none;
}
.section{
    border-radius: 3px;
}
.img-wrapper img{
    border-radius: 7px;
}
section iframe{
    border: 1px solid black;
    border-radius: 8px;
}
.google-reviews{
    border: 1px solid red;
}
.info-contact {
    border-radius: 6px;
}
section#botoxAndFillers {
    border-right: solid 4px var(--bg-clr);
    
}