/* backgrounds.css */
.nav-menu{
    border: 1px solid black
}
.section{
    border-radius: 3px;
}
.section-logo-wrapper img{
    border-radius: 7px;

}
section .img-wrapper{
    border-radius: 8px;
}
section iframe{
    border: 1px solid black;
    border-radius: 8px;
}
.google-reviews{
    border: 1px solid red;
}
.info-contact {
    border-radius: 6px;
}
section#botoxAndFillers {
    border-right: solid 4px var(--bg-clr);
}