.nav-menu{
    border: 1px solid black
}

section > .section-logo-wrapper{
    border: 1px solid black
}

section {
    border: 1px solid black;
    border-radius: 4px;
}
section iframe{
    border: 1px solid black;
    border-radius: 8px;

}