/* colors.css */
.fa-facebook {
    color: #1877f2;
}
:root {
    --font-p-clr: rgb(80, 81, 75);
}
.r.sm {
    font-size: .5rem;
    color: red;
}
.r {
    color: red;
}

.mobile-header-nav > ul > li a{
    color: var(--font-p-clr);
}
 a[x-apple-data-detectors] {
     color: inherit !important;
     text-decoration: none !important;
     font-size: inherit !important;
     font-family: inherit !important;
     font-weight: inherit !important;
 }
 /* Target standard telephone links */
 a[href^="tel"] {
     color: inherit !important;
     text-decoration: none !important;
 }


 /* home styles */
 .home-page-header>.address-num-container {
     color: rgb(53, 58, 46);
 }