:root {
    /* --font-p-clr: rgb(181, 183, 167); */
    --font-p-clr: rgb(80, 81, 75);
}
.section > h2{
    color: var(--font-p-clr);
}
.section-title,
.page-title{
    color: var(--font-p-clr);   
}
.tel-num{
    color: var(--font-p-clr);
}
.page-wrapper >  .nav-menu > ul > li a{
    color: var(--font-p-clr);
}
#mdvipImgLink{
    background-color: tomato;
    padding: 2%;
    height: 10vh;
    width: 25vh;
    border-radius: 8px;
}
.r{
    color: red;
}