/* colors.css */

:root {
    --font-p-clr: rgb(80, 81, 75);
    --header-clr: rgb(138, 139, 131);
}
#sideNavBtn {
    color: var(--header-clr);
}
.fa-facebook {
    color: #1877f2;
}

:root {
    --font-p-clr: rgb(80, 81, 75);
}

.r.sm {
    font-size: .5rem;
    color: red;
}

.r {
    color: red;
}

.page-header h1 a {
    color: var(--header-clr);
}

.mobile-header-nav>ul>li a {
    color: var(--header-clr);
}
.tel-num-header {
    color: var(--header-clr);
}
a[x-apple-data-detectors] {
    /* color: inherit !important; */
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
}

/* Target standard telephone links */
a[href^="tel"] {
    color: inherit !important;
    text-decoration: none !important;
}


/* home styles */
.home-page-header>.address-num-container {
    color: rgb(53, 58, 46);
}
.social-media-link-container>a>svg {
    /* fill:"#1877f2"; */
    /* color: blue; */
}