a:active,
a:focus{
    box-shadow: 0 0  1px 1px  black;
    outline: none;
    border: 1px solid black;
}            
section.colored#botoxAndFillers,
section#botoxAndFillers:hover {
    filter: saturate(1.2);
    filter: brightness(1.2);
}
.section-title:active~.img-wrapper>img {
    filter: grayscale(0);
}


/* section.checked .img-wrapper>img,
.img-wrapper>img:hover {
    filter: grayscale(0);   
}
.section-title:active~.img-wrapper>img {
    filter: grayscale(0);
}
*/
section.colored .img-wrapper > img{
    filter: grayscale(0) !important;
}