/* layout.css */
.page-wrapper{
    overflow-x: hidden;
}
.hide {
    display: none;
}
.page-header{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.title-page {
    display: block;
    text-wrap: none;
    white-space: none;
}
.tel-num{
    display: inline-block;
}
.page-header > .animation-container > #canvas {
}

.nav-menu {
    display: flex;
}
.nav-menu ul {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
.nav-menu ul li {
    flex-basis: 25%;
}
.nav-menu ul li a {
    display: inline-flex;
}

section>.content>.img-wrapper {
    float: right;
}
section>.content>iframe {
    float: left;
}
section::after {
    content: "";
    display: block;
    clear: both;
}
#botoxAndFillers>.img-wrapper {
    float: left !important;
}
#hairRestoration>.img-wrapper {
    float: right;
}
#vaginalRejuvenation>.img-wrapper {
    float: left;
}