/* layout.css */
.page-wrapper {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
}
.page-header {
    display: flex;
    justify-content: space-between;
    
}
.page-header > .page-title-container{
    display: flex;
    flex-basis: 90%;
    padding-left: 5%;
    padding-top: 0 !important;
    flex-wrap: wrap;
}



.mobile-header-nav {
    display: inline;
}
.mobile-header-nav>ul {
    display: flex;
    /* align-items: flex-start; */
}
.mobile-header-nav>ul>li {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
}
.mobile-header-nav>ul>li>a {
    display: inline-flex;
    /* or inline-flex */
    align-items: center;
    justify-content: center;
}

.social-media-container {
    display: flex;
    flex-direction: column;
}

.main-landing-page {
    overflow: hidden;
    overflow-y: scroll;
}