/* layout.css */
.page-header {
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
}

.page-wrapper {
    overflow: hidden;
    overflow-y: scroll;

}

.main-landing-page {
    overflow: hidden;
    overflow-y: scroll;
}

.hide {
    display: none;
}

.title-page {
    display: block;
    text-wrap: none;
    white-space: none;
}

.tel-num {
    display: inline-block;
}

.page-header>.animation-container>#canvas {}

.mobile-header-nav {
    display: flex;
}

.mobile-header-nav ul {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.mobile-header-nav ul li {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
}

.mobile-header-nav ul li#contactMenu {
    /* height: 60%; */
    /* height: fit-content; */
}

.mobile-header-nav ul li a {
    /* height: 50%; */
    display: inline-block;
}

/* contact styles */
.social-media-email-container {
    display: flex;
    height: fit-content;
}

.contact-container {
    display: flex;
    justify-content: space-between;
}

.contact-container>* {
    flex-basis: 42%;
}

/* home styles */
.home-page-header>.address-num-container img {
    float: right;
}