/* position.css */
.animation-container{
    position: absolute;
    right: 0;
    top: 0;
}
.mobile-header-nav {
    position: fixed;
    z-index: 2;
    bottom: 0;
}

#navBarBtn {
    position: absolute;
    bottom: 8%;
    z-index: 2;
    /* left: 0; */
    right: 91%;
}


