/* sizing.css */
.page-wrapper{
    height: 100vh;
}
section > .content > .video-wrapper{
    width: fit-content;
    height: fit-content;
}
.nav-menu{
    width: 100%;
    height: 10vh;
}
.nav-menu ul li a{
    width: 100%;
    height: 100%;
}
#botoxAndFillers{
    min-height: 12vh;
}

.img-wrapper img {
    max-height: 140px;
}
