/* spacing.css */
.page-title-container> h1{
    margin-top: 5%;
}

.page-header > .page-title-container{
    /* padding-top: 2%; */
    /* padding-left: 4%; */
}
.page-header-logos{
    padding-right: 1%;
}


.mobile-header-nav>ul>li>a {
    padding: 1%;
}
.main-landing-page {
    padding-bottom: 30%;
    /* padding-top: 0; */
    /* padding-top: 20%; */
}