/* spacing.css */
.main-landing-page {
    margin: 0 2%;
    padding-bottom: 18%;
}

#mdvipImgLink {
    padding: 2%;
}

.animation-container #canvas {
    margin-top: 5%;
}

.mobile-header-nav>ul>li>a {
    padding-top: 10%;
    padding-left: 10%;
}


/* contact css */
.address-num-container {
    padding: 8%;
}



