/* text.css */
.page-header .page-title{
    text-decoration: none;
    letter-spacing: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.page-container-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.page-header .tel-num{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--font-p-clr);
}
a.tel-num:visited{
    color: var(--font-p-clr);
}
.mobile-header-nav {
}
.mobile-header-nav >ul {
    list-style-type: none;
}
.mobile-header-nav li a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mobile-header-nav > ul > li >a {
    font-weight: 600;
    font-size: 1.5rem;
}
.mobile-header-nav>ul>li>ul > li a {
    font-weight: 500;
    font-style: italic;
}