.mobile-header-nav{
    font-size: 2rem;
}

.mobile-header-nav ul{
    list-style-type: none;
}

.mobile-header-nav li a{
    
    /* border: 3px solid blue; */
    
    /* height: fit-content; */
    text-decoration: none;
}



