.page-header{
    
    position: fixed;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(0,0,0,0) !important;
    filter: opacity(1);
}

.page-header h1 {
    
    border: 5px solid red;
}
.page-header h1 a{
    text-decoration: none;
    color: var(--font-p-clr);
    font-size: 100%;
}
.page-header img#madonnaShilouetteLogo{
    position: absolute;
    right: 0
}