social-media-container-nav {
    /* width: 100%; */
    /* margin-left: 15%; */
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    align-items: flex-end;
    /* background-color: blue; */
}
.social-media-container-nav .social-media-link-container{
    flex: 1;
    display: flex;
}
.social-media-container-nav .social-media-link-container a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 90%;
    max-height: var(--social-max-height);
    height: fit-content;
}
.social-media-container-nav .social-media-link-container  svg {
    max-height: var(--social-max-height);
    margin-top: 4%;
    width: fit-content;
    height: auto;
    padding-left: 60%;
    max-width: 100%;
}
