/* default/change-background.css */
.page-wrapper {
    /* position: relative; */
}
.home-page-header {
    width: 100vw !important;
    /* .contact-container>.address-num-container { */
    /* background-image: url('../../../../imgs/peptide-header.png'); */
    /* background-image: url('../../../../imgs/woman-man.png'); */
    /* background-repeat: no-repeat; */
    height: 50vh;
    /* background-repeat: repeat; */
    background-position-y: 49%;
    background-position-x: 50% ;
    filter: grayscale(50%);
}
.bg-slider {
}
.bg-slide {
    /* position: absolute; */
    inset: 0;
    position: absolute;
    /* background-position: center; */
    background-position: right;
    background-size: cover;
    /* background-position-x: 40%; */
    opacity: 0;
    transition: opacity 1.2s ease;

    inset: 0;
    z-index: 0;
}
.contact-container>*:not(.bg-slide) {
    position: relative;
    z-index: 2;
}

/* visible slide */
.bg-slide.active {
    opacity: 1;
    z-index: 1;
}

/* optional safety reset */
.bg-slide.hidden {
    opacity: 0;
    z-index: 0;
}

.move-right {
    background-position-x: -20% !important;
    
}
.x-20{
    background-position-x: 20% !important;

}
.x-50{
    background-position-x: 70% !important;
}
.x-150{
    background-position-x: 110% !important;
    background-position-y: -20% !important;
    background-size:cover;
    background-repeat:no-repeat;
    background-color: rgb(147, 139, 129)
    /* background-position-y: 100% !important; */
}