/* layout-mob-head-nav.css */
.mobile-header-nav ul{
    border: 2px solid blue;
    display: flex;
    align-items: flex-start;
}
.mobile-header-nav li{
    flex-basis: 20%;
    
}
.mobile-header-nav li a{
    display: inline-flex;
    text-align: center;
    text-align: start;
    display: inline-block;
}
.mobile-header-nav ul li#contactNavLink{
    /* flex-basis: 20% !important; */
    border: 1px solid magenta
    /* flex-shrink: 1; */
}
.social-media-container >
.social-media-link-container > a{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid green;
}
