.section-title,
.section-title .title-text {
    background: transparent;
    color: var(--text);
}
.section-preview p,
.section-details p {
    background:var(--bg-clr)!important;
    color: var(--text);
   
}
.section-preview h2,
.section-details h2 {    
    color: var(--heading);
}
.less-info {}
.section-details li {
    color: var(--text);
}
.women-men-nav a {
    color: var(--heading);
}
.more-info-buttons {    
    background: transparent;
}

.more-info-buttons button{   
    color: black ;
} 
.more-info-link:visited,
.more-info-link {
    text-decoration: none;
    color: black !important;
}