/* layout-med-spa-serv.css */

.med-spa-serv-container > .page-container{
    
}





section>.content>.img-wrapper {
    float: right;
}

.section.colored .more-info-links {
    display: flex;
    gap: 1%;
    justify-content: flex-end;
}

.section .more-info-links {
    display: none;
}

.section>button.section-title {
    display: flex;
    flex-wrap: wrap;
}
section>.content>iframe {
    float: left;
}

section::after {
    content: "";
    display: block;
    clear: both;
}
