/* position-med-spa-serv.css */


.section#bioHormoneReplacement >button.section-title {
    position: relative;
}


.section#bioHormoneReplacement>button.section-title>span {

    z-index: 10;
    /* padding-top: 5%; */
    margin-top: 5%;
}
.section#bioHormoneReplacement>button.section-title>img {
    position: absolute;
    right: -5%;
    top: -100%;
    
    
}

