section>.content>.video-wrapper {
    width: fit-content;
    height: fit-content;
}

.img-wrapper img {
    max-height: 120px;
}

.section {
    max-height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}