/* sizing-med-spa-serv.css */
#botoxAndFillers {
    min-height: 12vh;
}
section>.content>.video-wrapper {
    width: fit-content;
    height: fit-content;
}

.img-wrapper img {
    max-height: 120px;
}


.section {
    max-height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}
.section-title img {
    width: 180px;
    max-height: 120px;
    height: 50px;
    /* height: auto; */
}
