/* spacing-med-spa-serv.css */
.page-container.med-spa-serv-container {
    margin: 0 5%;
    padding: 0 2%;
    padding-top: 10%;
}
.med-spa-serv-container>.section {
    margin: 5% 0;
    padding-top: 1.25rem;
    padding-bottom: .5rem;
    padding-left: 0;
}
.med-spa-serv-container>.section p {
    padding: 0 2%;
    padding-top: 3%;
    padding-bottom: 1%;
    margin-left: 4%;
    margin-right: 2%;
}