/* spacing-med-spa-serv.css */
.page-container.med-spa-serv-container {
    padding-top: 16%;
    margin: 0 2.5%;
}
.section {
    padding: 1%;
    margin: 3% 0%;
}
.section > .content{
    margin: 5% 2%;
    line-height: 1.4;
    
    /* margin: 5% 2%; */
}
