/* txt-med-spa-services.css */
/*==============================================================
  SERVICE SECTION
==============================================================*/
.service-section .section-title .title-text {
    font-size: clamp(1.55rem, 2vw, 2.2rem);
    font-weight: 700;
    /* text-transform: uppercase; */
    font-family: 'Courier New', Courier, monospace;
}
/*==============================================================
  CONTENT
==============================================================*/
.service-section p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section-preview p,
.section-details p {
    font-size: 1.08rem;
}
.more-info-btn {
    font-size: .96rem;
    font-weight: 600;
    /* text-transform: uppercase; */
}
.service-section .more-info-links a {
    text-decoration: none;
    font-weight: 600;
}
.section-details h2 {
    font-size: 1.15rem;
}
.women-men-nav a {
    text-decoration: none;
}
#LongevityMedicineBold,
#FunctionalMedicineBold {
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 101%;
}